PORT=5001
CLIENT_URL=http://localhost:5173,http://localhost:5174
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/el-almani-salon
JWT_SECRET=change_this_secret
ADMIN_EMAIL=admin@elalmani.com
ADMIN_PASSWORD=admin123
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
